{% extends "purl-voc2_en.j2" %}

{% block summary %}
<p>The ODALA Air & Water - Water Quality vocabulary provides terminology to describe Water Quality Observations.</p>
<p>Basic terms to describe Observations were reused from the <a ref="https://purl.eu/ns/air-and-water/core">ODALA Air & Water - Core vocabulary</a>, but for Water Quality several new terms were added. Each term describes a particular type of Observation of the quality of water.</p>
<p>To exchange data about the concentration of harmful or indesirable substances an instance of the class ChemicalAgentConcentration can be used.</p>
<p>For the biological quality of water use the classes BioIndicatorObservation and BioticIndexObservation: the first to describe observations of living organisms acting as a bioindicator, the second to aggregate counts of vulnerable organisms into an index.</p>
<p>More generic Water Quality Observations should be described with the terms in the ODALA Air & Water - Core vocabulary.</p>
<p>A class WaterFeature is provided to communicate which real-world Object is actually being observed or sampled. It can be substituted with any instance of a class in the domain of water or typed by means of a codelist.</p>
</p>
{% endblock %}
