{% extends "purl-voc2_en.j2" %}

{% block summary %}
<p>The ODALA Air & Water - Core vocabulary provides terminology to describe Observations in general. </p>
<p>Many terms were reused from existing standards, ie <a href="https://www.iso.org/standard/32574.html">ISO 19156 Observations and Measurements</a> and the <a href="https://www.w3.org/TR/vocab-ssn/">OGC/W3C Semantic Sensor Network Ontology</a>. Some useful properties were added to existing classes, eg ObservationCollection.metadata or Observationprocedure.specification. </p>
</p>
{% endblock %}
