{% extends "purl-ap2_en.j2" %}

{% block summary %}
<p>The application profile OSLO WaterQuality describes how to describe Water Quality Observations.</p>
<p>The profile builds on the <a href="https://purl.eu/doc/applicationprofile/AirAndWater/Core">OSLO Application Profile Air & Water - Core</a> that explains how to describe Observations in general. This profile is based on <a href="https://www.iso.org/standard/32574.html">ISO 19156 Observations and Measurements</a> and on the <a href="https://www.w3.org/TR/vocab-ssn/">Semantic Sensor Network Ontology</a>.</p>
<p>Four classes have been added to this profile specifically for Water Quality, each describing a certain type of Observation of the quality of water.</p>
<p>The WaterQualityParameter class describes physical parameters such as temperature, turbidity, etc.</p>
<p>The ChemicalAgentConcentration class allows to document the concentration of harmful or undesirable substances in the water.</p>
<p>The biological quality of the water can be described using the BioIndicatorObservation class which documents observations of living organisms acting as bioIndicator & the BioticIndex class which aggergates counts of organisms based on their pollution tolerance into an index.</p>
<p>Finally, the WaterFeature class provides the possibility to clearly indicate which Object is exactly being observed or sampled (eg the channel Brussels-Charleroi) either as a WaterFeature typed by means of a value from a code list or by referring directly to the instance of the typed object.</p>
{% endblock %}
