{% extends "purl-ap2_en.j2" %}

{% block summary %}
<p>This application profile describes how to describe Water Quality Observations.</p>
<p>The profile builds on an application profile that explains how to describe Observations in general. This is based on the ISO standard Observations and Measurements and on SOSA/SSN: an ontology for describing, among other things, Sampling and Sensors.</p>
<p>Four classes have been added to this profile specifically for Water Quality, each describing a certain type of Observation of the Quality of Water.</p>
<p>The WaterQualityParameter class describes physical parameters such as temperature, turbidity, etc.</p>
<p>The ChemicalAgentConcentration class allows to document the concentration of harmful or undesirable substances in the water.</p>
<p>The biological quality of the water can be described using the BioIndicatorObservation class which documents observations of living organisms acting as BioIndicator & the BioticIndex class which allows to record counts of organisms based on their vulnerability and converted into an index.</p>
<p>Finally, the Waterfeature class provides the possibility to clearly indicate which Object is exactly being observed or sampled (a River? a Channel? etc) either by means of a value from a code list OR by referring directly to the instance of the typed object.</p>
{% endblock %}
