{% extends "purl-voc2_en.j2" %}

{% block summary %}
<p>The ODALA Air & Water - Air Quality vocabulary provides terminology to describe Air Quality Observations.</p>
<p>Basic terms to describe Observations were reused from the ODALA Air & Water - Core vocabulary, but for Air Quality several new terms were added. Each term describes a particular type of Observation of the quality of air.</p>
<p>The AirQualityObservation class describes Airquality in general terms, either as an AirqualityIndex or as an AirqualityLevel: a numerical score and a categorical rating of AirQuality respectively.</p>
<p>The AirPollutantObservation class allows to describe concentrations of pollutants in the air. As a quantitative value it can be described with an instance of the class AirPollutantValueObservation. To classify the result according to some threshold scheme, use the class AirPollutantLevelObservation.</p>
<p>More generic Air Quality Observations should be described with the terms in the ODALA Air & Water - Core vocabulary.</p>
<p>A class AirFeature is provided to communicate which real-world Object is actually being observed or sampled. It can be substituted with any instance of a class in the domain of air or typed by means of a codelist.</p>
</p>
{% endblock %}
